html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  background: #fba919;
  color: #efefef;
}

body.custom-background {
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

a {
  color: #fba919;
  text-decoration: none;
}

h1 a {
  color: #efefef;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea {
  border: 1px solid #222;
  background: #efefef;
  padding: 0.3em 0.4em;
  box-shadow: inset -1px -1px 6px #222;
}

.site {
  overflow: hidden;
  background: rgba(34, 34, 34, 0.85);
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.site::after {
  clear: both;
  content: "";
  display: table;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/******************************************************************************\
	Settings
\******************************************************************************/
html {
  font-size: 16px;
}
@media screen and (min-width: 481px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1025px) {
  html {
    font-size: 20px;
  }
}

/******************************************************************************\
	Font calculation mixins
\******************************************************************************/
/******************************************************************************\
	Standard font styling
\******************************************************************************/
body {
  font-family: "Verdana", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

p,
ul,
ol {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

blockquote {
  position: relative;
}
blockquote:before {
  display: block;
  float: left;
  content: "\"";
  font-size: 40px;
  font-size: 2.5rem;
  margin: 0 15px 15px 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  h5,
  h6 {
    word-wrap: normal;
  }
}

h1,
.h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 481px) {
  h1,
  .h1 {
    font-size: 48px;
    font-size: 3rem;
  }
}

h2,
.h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 481px) {
  h2,
  .h2 {
    font-size: 32px;
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: 17.6px;
  font-size: 1.1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 481px) {
  h3,
  .h3 {
    font-size: 19.2px;
    font-size: 1.2rem;
  }
}

h4,
h5,
h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}

h2,
h3 {
  page-break-after: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

p ~ h1 {
  margin-top: 3rem;
}

html .mceContentBody {
  font-size: 100%;
  max-width: 650px;
}

/*# sourceMappingURL=wp-editor-style.css.map */
